.comment-section{
	.title{
		font-weight:bold;
		text-transform:capitalize;
		font-size:16px;
	}
}
.comment-panel{
	margin-bottom: 20px;
	.panel-heading{
		border-bottom:none;
		.profile-img{
			width:30px;
			height:30px;
			border-radius: 50%;
			border:1px solid rgba(black,0.1);
			float:left;
			background:gold;
		}
		.user-details{
			padding-left:40px;
			p{
				margin:0;
			}

		}
	}
	.panel-footer{
		background: white;
		border-top:none;
		padding-top:0;
		.actions{
			button{
				border:1px solid transparent;
				background:transparent;
				padding:0;
			}
		}
	}
	.panel-body{
		padding-top:0;
	}
}