.form-page-centering{
	align-items: center;
	display: flex;
    justify-content: center;
    height: 100vh;
    background-size:cover;
    padding-bottom: 100px;
    overflow: scroll
}
.form-container{
	.form-logo-heading{
		padding:20px;
		.logo-container{
			width:70px;
			margin:0 auto;
			img{
				width:100%;
			}
		}
	}
}
//Form Styles
.form-panel{
	.panel-body{
		padding-bottom:0;
	}
}