.gabedi-header{
	height: 70px;
	background: $gabedi-green;
	width:100%;
	position: fixed;
	z-index:9000;
	transition:all 300ms ease-in-out;
}
.gabedi-header{
	.header-l{
		position:relative;
		display:block;
		float:left;
		.logo{
			position: absolute;
		  	top: 50%;
			height: 50px;
			margin-top:10px;
			box-sizing:border-box;
			img{
				height:100%;
			}
		}
	}

	.header-r{
		float:right;
		nav{
			padding-top:25px;
			padding-bottom:25px;
			float:left;
			a{
				text-transform:uppercase;
				color:white;
				padding-left:30px;
				font-size: 12px;
				font-weight:bold;
				&:hover{
					text-decoration: none;
					color:darken(white,20%);
				}
			}
		}
		.profile-img{
		    margin-top: -13px;
		    margin-right: 5px;
		    float: left;
		    width: 48px;
		    height: 48px;
		    border-radius:50%;
		    text-align:center;
		}
		.initials{
			position: relative;
          	top: 12.5px; /* 25% of parent */
            font-size: 25px; /* 50% of parent */
            line-height: 25px; /* 50% of parent */
            color: #000;
            font-family: "Courier New", monospace;
            font-weight: bold;
		}
		.nav .open > a{
			background:transparent;
		}
		.__nav-bar{
			li{
				padding-top:10px;
				padding-bottom:25px;
				background:transparent;
				float:left;
				.browse-article-cta{
					padding-left:15px;
				}
				a{
					text-transform:uppercase;
					color:white;
					padding-left:20px;
					font-size: 12px;
					font-weight:bold;
				&:hover{
					text-decoration: none;
					color:darken(white,20%);
				}
					&:hover{
					background:transparent !important;
					}
					&:focus{
					background:transparent !important;
					}
					&:active{
						background:transparent !important;
					}
				}
				background:transparent !important;
			}
		}
		.__dropdown-menu{
			padding:0;
			border-radius:5px;
			&:before{
				content: '';
				position: absolute;
				top:0;
				left:50%;
				width:0;
				height:0;
				border:5px solid transparent;
				border-bottom-color: #D3E0E9;
				border-top:0;
				margin-left:-5px;
				margin-top:-5px;
			}
			.__dropdown-header{
				padding-left:10px;
				background:  #D3E0E9 !important;

			}
			li{
				padding:5px;
				padding-left:10px;
				width:100%;
				a{
					color:#333;
					padding-left:10px;
				}
			}
		}
	}

	.search-bar{
		float:left;
		display:block;
		padding-top:15px;
		padding-bottom:15px;
		.search-wrapper{
			background:darken($gabedi-green, 10%);
		}
		.input.hide-input{
			width:0px;
		}
		.input.show-input{
			width:auto;
		}
		.input{
			float:right;
			overflow: hidden;
			transition:all 1400;
			max-width:120px;
			input{
				border:none;
				box-shadow: none;
				padding-left:10px;
				height:40px;
				background:transparent;
				font-weight:bold;
				color:white;
				&:focus{
					border:none;
					box-shadow: none;			
				}
				&:hover{
					border:none;
					box-shadow: none;
				}
				&:active{
					border:none;
					box-shadow: none;			
				}
			}
		}
		.button{
			float:right;
			button{
				height:40px;
				background:transparent;
				color:rgba(white,0.8);
				border:none;
				transition:all 50ms;
				&:hover{
					color:white;
				}
				&:active{
					border:none;
					box-shadow: none;
				}
				&:focus{
					border:none;
					box-shadow: none;
				}
			}

		}
	}
}
.gabedi-header.black{
	background:black;
}