#menu{
	background: white;
	border:1px solid #d3e0e9;
}
.slideout-menu-customizer{
	.close-button{
			float: right;
		}
	.__slideout-header{
		.profile-img{
			width:30px;
			height:30px;
		}
		.user-details{
			padding-top:10px;
			p{
				margin:0;
			}
		}
		.auth-links{
			margin:0;
			padding:0;
			li{
				border-radius: 1px;
				a{
					font-weight:strong;
					width:100%;
				}
			}
		}
	}
	.__menu-links{
		border-radius:0;
		color: $gabedi-green;
		i{
			margin-right:5px;
		}
		a{
			padding-left:5px;
			color: $gabedi-green;
			text-decoration: none;
			font-weight: bold;
			&:hover{
				text-decoration:none;
			}
		}
	}
	.sub-menu{
		height:0;
		overflow:hidden;
		padding:0;
		margin:0;
		padding-top: 8px;
		li{
			border-radius: 1px;
			a{
				text-transform: lowercase;
			}
		}
	}
	.sub-menu.open{
		height:auto;
	}
}