//Variables
@import "variables";


body{
	min-height:100%;
	box-sizing:border-box;
	position:relative;
}
//Header Styles
@import "components/header";
//Hero & Banner Styles
@import "components/hero_and_banner";
//Content Section styles
.content{
	background: white;
    position:relative;
    z-index:8500;
    width: 100%;
    padding-bottom:100px;
    padding-top:100px;
}
.section-title{
	font-weight: 600;
	text-transform:uppercase;
	text-align:center;
	&:after{
		background:rgba(0,0,0,0.4);
		content: "";
	    height: 1px;
	    width: 50px;
	    position: absolute;
	    bottom: 0;
	    left: 50%;
	    margin-left: -25px;
	}
}
.section-heading{
	padding-top:40px;
	padding-bottom:10px;
	position:relative;
}
//Article Styles
/**
 * This are for articles in list not on cards
 */
@import "components/articles";
//Form page layout styles
@import "components/forms";
//Footer Styles
@import "components/footer";

//-----------------------------Home Page Styles

//Bookmark Section
@import "components/bookmark_section";
//Loader Animation 
@import "components/loader";
//Slideout menu
@import "components/slideout-menu"