//Variables
@import "variables";


body{
	min-height:100%;
	box-sizing:border-box;
	position:relative;
	height:100%;
	width:100%;
}
#panel{
	background: white;
}
//Header Styles
@import "components/header";
//Hero & Banner Styles
@import "components/hero_and_banner";
//Content Section styles
@import "components/content-section";
//Article Styles
/**
 * This are for articles in list not on cards
 */
@import "components/articles";
//Form page layout styles
@import "components/forms";
//Footer Styles
@import "components/footer";

//-----------------------------Home Page Styles

//Bookmark Section
@import "components/bookmark_section";
//Loader Animation 
@import "components/loader";
//Slideout menu
@import "components/slideout-menu";
//Tutor Lsit styles
@import "components/tutor-list";
//Single Article style
@import "components/article-single";
//Comment section
@import "components/comments-section";

@import "components/auth-modal";

@import "components/about";

@import "components/search-results";

@import "components/nostuff-message";

@import "components/rich-texteditor-override";

@import "components/settings-panel";

@import "components/no-article-alert";